<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YemekhaneOtomasyon4.Properties.Settings.yemekhaneConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Mehmet Can Özcan\Desktop\Yemekhane Otomasyon\YemekhaneOtomasyon3\WindowsFormsApp1\bin\Debug\yemekhane.mdb&quot;" providerName="System.Data.OleDb"/>
        <add name="YemekhaneOtomasyon4.Properties.Settings.yemekhaneConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\yemekhane.mdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
